/* body  or universal */

body {
  font-family: 'Maven Pro', sans-serif;
}

.text-black {
  color: rgb(37, 35, 35);
}

/* navbar */


.navbar {
  height: 80px;
  font-size: large;
  font-weight: bold;
}

.navbar-brand img {
  width: 200px
}

.navbar a:hover {
  text-decoration: underline;
}


/* dashboard */
.navbar-dashboard {
  background: none;
  color: white
}


.bg-dashboard {
  background: url('./Swiss-Lauterbrunnen.jpg');
  background-position: 0 -230px;
  background-repeat: no-repeat;
  height: 700px;
}

.round{
  border-bottom-right-radius:15px;
  border-bottom-left-radius:15px;
 -moz-border-radius-bottomright:15px;
 -moz-border-radius-bottomleft:15px;
 -webkit-border-bottom-right-radius:15px;
 -webkit-border-bottom-left-radius:15px;

  -moz-border-radius-topright:15px;
  -moz-border-radius-topleft:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-top-left-radius:15px;
}

.input-group {
  height: 50px;
}


/*  Hotels */

.bg-hotels {
  background-color: rgb(240, 240, 240);
}

.navbar-hotels {
  margin-top: 10px;
  background-color: white;
}

.book-btn {
  position: absolute;
  opacity: 90%;
  top: 15%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.book-btn {
  opacity: 100%;
}

.card-container {
  cursor: pointer;
}

.order-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 700px;
  max-width: 100%;
}

.order-modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  opacity: 0;
  position: fixed;
  transition: 200ms ease-in-out;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.15);
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}


/* Login */

.navbar-login {
  background-color: blue;
}

.navbar-text-white {
  color: white;
}

#login-img {
  height: 85vh;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #7595ee;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to top left, rgb(156, 186, 242), rgba(246, 243, 255, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to top left, rgb(119, 153, 226), rgba(246, 243, 255, 1));
  background-size:contain;
  }
