#promotion-banner {
  position: fixed;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 15px;
}

#banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.8);
}

#description{
  height: 140px;
  overflow: auto;
}

#review{
  height: 200px;
  overflow: auto;
}

#product:hover{
  box-shadow: 0 0 15px -10px;
}

#detail{
  padding: 0 20px;
}

#login-section{
  background-image: url("https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGNhcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.container {
  width: 100vw;
  height: 56.25vw;
  margin: 0 auto;
}

iframe {
  width: 100%;
  height: 100%;
}

#preloader, #sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#preloader{
  z-index: 9999;
}

#sidebar{
  z-index: 8000;
}

#preloader .loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#register-section{
  margin-top: -20px;
}

#map {
  height: 320px;
  width: 80%;
  margin: 70px auto;
  z-index: 45;
}